# LOOPING STATEMENTS:
- To perform a task multiple times
- in python,for and while only
## FOR LOOP:
- ```for i in range():
        # body of the loop```

In [1]:
range(10)

range(0, 10)

In [2]:
range(1,10)

range(1, 10)

In [3]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [7]:
for i in range(10):
    print(i,end="  ,  ")

0  ,  1  ,  2  ,  3  ,  4  ,  5  ,  6  ,  7  ,  8  ,  9  ,

In [8]:
for y in range(1,10):
    print(y,end=" ")

1 2 3 4 5 6 7 8 9

In [10]:
for a in range(1,10,2):
    print(a,end="    ")

1    3    5    7    9

In [11]:
for a in range(1,10,3):
    print(a,end="    ")

1    4    7

In [12]:
for a in range(0,10,2):
    print(a,end="    ")

0    2    4    6    8

In [17]:
for a in range(5,55,5):
    print(a,end="    ")

5    10    15    20    25    30    35    40    45    50

In [20]:
n=int(input("enter a no to generate math table:"))
for x in range(1,11):
    print(n,'*',x,'=',n*x)

enter a no to generate math table:12
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

In [1]:
#task1: generate a math table for a given number(dynamic)
a=int(input('enter the range'))
for x in range(1,a+1):
    print('**********')
    for b in range(1,11):
        print(x,'*',b,'=',x*b,)

enter the range6
**********
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
**********
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
**********
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
**********
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
**********
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
**********
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [2]:
i=1
while(i<=10):
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

# Jump Statements:
- by using these statements we will terminate(exit) the loop
- those are break and continue
- ### break: break statement will terminate the loop perminent
- ### continue: it will terminate for instant time only

In [3]:
for i in range(100):
    if(i==50):
        break
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [4]:
for i in range(1,101):
    if(i%5==0):
       print('*****')
       continue
       
    print(i)

1
2
3
4
*****
6
7
8
9
*****
11
12
13
14
*****
16
17
18
19
*****
21
22
23
24
*****
26
27
28
29
*****
31
32
33
34
*****
36
37
38
39
*****
41
42
43
44
*****
46
47
48
49
*****
51
52
53
54
*****
56
57
58
59
*****
61
62
63
64
*****
66
67
68
69
*****
71
72
73
74
*****
76
77
78
79
*****
81
82
83
84
*****
86
87
88
89
*****
91
92
93
94
*****
96
97
98
99
*****

In [6]:
# task 2
a=int(input('enter start value'))
if(a%2==0):
    for x in range(a,101,2):
        print(x,end=',')
else:
    for x in range(a+1,101,2):
        print(x,end=',')

enter start value85
86,88,90,92,94,96,98,100,