# DATA STRUCTURES:
    - String
    - List
    - Tuples
    - Dictionary
    
## STRINGS:
    -> '' or "" or ''' ''' or """
    -> Combination of characters[alphabets,numbers,special characters]
    -> Iteration performs

In [2]:
n='Ram'
print(type(n))

<class 'str'>

In [3]:
s=6
print(type(s))

<class 'int'>

In [4]:
f=85.100
print(type(f))

<class 'float'>

In [5]:
y=input()
print(y)
y

6
6

'6'

In [3]:
m="Vinay Kumar"
print(len(m))
print(m[4])
print(m[-7])
print(m[:9])
print(m[5:])

11
y
y
Vinay Kum
 Kumar

In [4]:
a='vinay kumar'

c=a[:3]
   
c+(2*m)

'vinVinay KumarVinay Kumar'